Repository Trotskystation/Trotskystation, changes with the owners that .github/CODEOWNERS names for each.
All owners: @yogstation13/head-coders, @yogstation13/map, @yogstation13/art, @AsV9, @monster860

.github/CODEOWNERS:

# This list auto requests reviews from the specified org members 
# when a PR that modifies the file in question is opened 
# This list is alphabetized by User -> Filename KEEP IT THAT WAY 
# In the event that multiple org members are to be informed of changes 
# to the same file or dir, add them to the end under Multiple Owners 
 
# Example
 
#/code/world.dm @GithubNameHere
#/maps/ @GithubNameHere

#Teams

/.github/ @yogstation13/head-coders
/SQL/ @yogstation13/head-coders
/_maps/ @yogstation13/map
/config/ @yogstation13/head-coders
/goon/ @yogstation13/art
/icons/ @yogstation13/art
/sound/ @yogstation13/art
/yogstation/SQL/ @yogstation13/head-coders
/yogstation/icons/ @yogstation13/art
/yogstation/sound/ @yogstation13/art

#AsV9

/code/__DEFINES/MC.dm @AsV9
/code/__DEFINES/tick.dm @AsV9
/code/controllers/master.dm @AsV9
/SQL/database_changelog.txt @AsV9
/code/controllers/admin.dm @AsV9
/code/controllers/failsafe.dm @AsV9
/code/controllers/subsystem.dm @AsV9
/code/controllers/subsystem/timer.dm @AsV9

#monster860

/code/modules/atmospherics/ @monster860
/yogstation/code/modules/atmospherics/ @monster860

#Art stuff

/code/controllers/subsystem/ticker.dm @yogstation13/art
/yogstation/code/controllers/subsystem/ticker.dm @yogstation13/art
/code/modules/holidays/holidays.dm @yogstation13/art
/yogstation/code/modules/holidays/holidays.dm @yogstation13/art

Fixed a vile skirt that snuck in. Maps compile now.
  _maps/map_files/YogStation/YogStation.dmm
Owners: @yogstation13/map

Minor config fixes, fix title screen.
  config/config.txt
  config/secret.txt
  config/title_screens/images/rare+fire.png
  config/title_screens/images/rare+yogurt.png
  config/title_screens/images/yogstation.dmi
  config/title_screens/images/yogstation.png
Owners: @yogstation13/head-coders

Make config up to date. Update TODO.
  TODO
  config/config.txt
  config/game_options.txt
  config/lavaruinblacklist.txt
  config/private_default.txt
  config/private_server.txt
Owners: @yogstation13/head-coders

Make compile maybe
  code/modules/power/singularity/particle_accelerator/particle_control.dm
Owners: none

Make maps compile maybe
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_wash.dmm
Owners: @yogstation13/map
