Repository Trotskystation/Trotskystation, changes with the labels that .github/labeler.yml gives for each.
All labels: Admin, Config, Dependencies, DME Edit, Sprites, Javascript, Map Change, Sound, SQL, tgui, Github

.github/labeler.yml:

Admin:
  - 'code/modules/admin/**'

# Any file within the config subfolder
Config: 
  - 'config/**'

Dependencies:
  - '**/package.json'
  - '**/package-lock.json'
  - '**/yarn.lock'

# When the .DME is changed
DME Edit:
  - './*.dme'
  - '**/*.dme'

# Any .dmi changes
Sprites: 
  - '**/*.dmi'

# Javascript changes
Javascript: 
  - '**/*.js'

# Changes to a .dmm
Map Change: 
  - '**/*.dmm'

# Any changes to .ogg files are marked as sound
Sound: 
  - '**/*.ogg'

# Changes to the SQL subfolder
SQL: 
  - 'SQL/**'

# Encompasses both the tgui and the tgui-next folder
tgui: 
  - 'tgui/**'
  - 'tgui-next/**'

# Changes to the .Github folder
Github: 
  - '.github/**'

In accordance with the ideology of Marxism-Leninism-IDism, all skirts have been seized by the state.
  _maps/RandomRuins/SpaceRuins/Academy.dmm
  _maps/RandomZLevels/Academy.dmm
  _maps/map_files/EclipseStation/EclipseStation.dmm
  _maps/map_files/generic/CentCom.dmm
  code/game/objects/effects/spawners/bundle.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/storage/backpack.dm
  code/game/objects/structures/crates_lockers/closets/job_closets.dm
  code/game/objects/structures/crates_lockers/closets/wardrobe.dm
  code/modules/clothing/under/color.dm
  code/modules/clothing/under/jobs/civilian.dm
  code/modules/clothing/under/jobs/medsci.dm
  code/modules/clothing/under/jobs/security.dm
  code/modules/clothing/under/miscellaneous.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/wardrobes.dm
Labels: Map Change

Fix for Unix filesystems when loading maps... again.
  code/controllers/subsystem/mapping.dm
Labels: none

Update .gitignore for shadow config.
  .gitignore
Labels: none

Make most of our config public.
  config/admin_ranks.txt
  config/admins.txt
  config/antag_rep.txt
  config/awaymissionconfig.txt
  config/comms.txt
  config/config.txt
  config/dbconfig.txt
  config/game_options.txt
  config/lavaruinblacklist.txt
  config/motd.txt
Labels: Config

Remove quickwrite. quickwrite was obsoleted upstream... also I compiled it for amd64 for some reason.
  libquickwrite.so
Labels: none

Automatic changelog compile [ci skip]
  html/changelog.html
  html/changelogs/.all_changelog.yml
  html/changelogs/AutoChangelog-pr-8531.yml
  html/changelogs/AutoChangelog-pr-8549.yml
  html/changelogs/AutoChangelog-pr-8739.yml
  html/changelogs/AutoChangelog-pr-8740.yml
  html/changelogs/AutoChangelog-pr-8744.yml
  html/changelogs/AutoChangelog-pr-8751.yml
  html/changelogs/AutoChangelog-pr-8753.yml
  html/changelogs/AutoChangelog-pr-8774.yml
  html/changelogs/AutoChangelog-pr-8779.yml
  html/changelogs/AutoChangelog-pr-8786.yml
  html/changelogs/AutoChangelog-pr-8787.yml
  html/changelogs/AutoChangelog-pr-8792.yml
  html/changelogs/AutoChangelog-pr-8794.yml
  html/changelogs/AutoChangelog-pr-8798.yml
  html/changelogs/AutoChangelog-pr-8799.yml
  html/changelogs/AutoChangelog-pr-8818.yml
  html/changelogs/AutoChangelog-pr-8824.yml
  html/changelogs/AutoChangelog-pr-8905.yml
Labels: none

Fix comms.txt shadow config.
  config/comms.txt
Labels: Config

Fix dbconfig.txt shadow config.
  config/dbconfig.txt
Labels: Config

Remove Linux BSQL.
  libBSQL.so
Labels: none

Add TODO.
  TODO
Labels: none

Update TODO.
  TODO
Labels: none

Fix compile failure due to missing skirt item.
  TODO
  _maps/RandomRuins/SpaceRuins/Academy.dmm
Labels: Map Change

Fixed a vile skirt that snuck in. Maps compile now.
  _maps/map_files/YogStation/YogStation.dmm
Labels: Map Change

Minor config fixes, fix title screen.
  config/config.txt
  config/secret.txt
  config/title_screens/images/rare+fire.png
  config/title_screens/images/rare+yogurt.png
  config/title_screens/images/yogstation.dmi
  config/title_screens/images/yogstation.png
Labels: Config, Sprites

Make config up to date. Update TODO.
  TODO
  config/config.txt
  config/game_options.txt
  config/lavaruinblacklist.txt
  config/private_default.txt
  config/private_server.txt
Labels: Config

Make compile maybe
  code/modules/power/singularity/particle_accelerator/particle_control.dm
Labels: none

Make maps compile maybe
  _maps/RandomRuins/StationRuins/maint/3x3/3x3_wash.dmm
Labels: Map Change
